body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 3;
    max-height: 600px;
    max-width: 400px;
    min-height: 300px;
    flex: 1;
    border: 1px solid black;
    margin: 10px;
}

.display {
    display: grid;
    grid-auto-rows: 1fr;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
    border: 1px solid black;
    text-align: right;
    white-space: nowrap;
}

.main-screen::-webkit-scrollbar, .secondary-screen::-webkit-scrollbar {
    width: 0;
  }

  .main-screen, .secondary-screen {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


.main-screen {
    align-self: flex-end;
    overflow-x: scroll;
    font-size: xx-large;
}

.secondary-screen{
    overflow-x: scroll;
    font-size: large;
}

.buttons {
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-columns: repeat(5, auto);
}

.btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: larger;
    padding: 0;
    color: white;
}

.btn:active {
    background-color: #191919;
}

.number, .dot {
    background-color: #282A3A;
}

.operator {
    background-color: #735F32;
}

.func {
    background-color: #C69749;
}

.equal {
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #C84B31;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
